table.dataTable td {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


table.dataTable tr.selected td, table.dataTable td.selected,
table.dataTable td.ccm-inconsistent {
  /*position: relative;*/
  background: #b0bed9;
  background: rgba(255, 0, 72, 0.4) !important; /* red */
}

/* Transparent overlay: (makes tooltip/popver unusable) (need "position: relative" above)
table.dataTable tr.selected td:before, table.dataTable td.selected:before {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: #b0bed9;
  background: rgba(255, 0, 72, 0.4); /* red * /
}
*/

table.dataTable tr.consistent td, table.dataTable td.consistent {
  /*position: relative;*/
  background: #b0bed9;
  background: rgba(0, 29, 255, 0.4) !important; /* blue */
}

table.dataTable td.ccm-consistent {
  background: #b0bed9;
  background: rgba(0, 190, 72, 0.4) !important; /* green */
}

table.dataTable td.ccm-first-column {
  font-weight: bold;
}

/* Transparent overlay: (makes tooltip/popver unusable) (need "position: relative" above)
table.dataTable tr.consistent td:before, table.dataTable td.consistent:before {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: #b0bed9;
  background: rgba(0, 29, 255, 0.4); /* blue * /
}
*/

/* Popover text color like it is defined for body (override inline cell style) */
/* max-width must be larger to accomodate long texts */
/* Setting width explicitly seems to fix positioning problems on multiple screens,
   width is set dynamically with Shiny depending on length of text */
.popover {
  color: #333;
  max-width: 1000px;
}

/* Maybe an idea: make popover scrollable, but then it must open on click,
   not on hover */
/*
.popover-content {
  overflow-y : scroll;
  height: 500px;
}
*/

/* make modal width adjust to its content width: */
.modal-content {
  display: table;
}
